*{
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif; /* Définit la police de caractères utilisée pour le texte du corps de la page */
    background-color: #162a40; /* Définit la couleur d'arrière-plan du corps de la page */
    color: white; /* Définit la couleur du texte par défaut en blanc */
}

h1 {
    font-size: 28px; /* Définit la taille de la police pour les titres de niveau 1 (h1) */

}

h2 {
    font-size: 26px; /* Définit la taille de la police pour les titres de niveau 2 (h2) */
}

h3 {
    font-size: 24px; /* Définit la taille de la police pour les titres de niveau 3 (h3) */
}

h1, h2, h3 {
    color: #afedfe; /* Définit la couleur du texte pour les titres h1, h2 et h3 en bleu clair */
    font-weight: bold; /* Définit le poids de la police en gras pour les titres h1, h2 et h3 */
    line-height: 50px;
}

.container {
    width: 1024px; /* Définit la largeur de l'élément .container à 1024 pixels */
    margin: auto; /* Centre horizontalement l'élément en lui attribuant des marges automatiques de chaque côté */
}

.btn{
    background-color: transparent;
    color: white;
    border: 1px solid #cdcdcd;
    border-radius: 6px;
    padding: 10px;
    text-align: left;
    margin-bottom: 10px;
}
.full{
    width: 100%;
}
.flex{
   display: flex; 
}
.w25{
    flex: 0 0 25%;
}
.w75{
    flex: 0 0 75%;
}
.gap20{
    gap: 20px
}
div#game-settings {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    background: rgb(0 0 0 / 31%);
}
.popup{
    position: fixed;
    background: #162a40;
    padding: 20px;
    width: 300px;
    height: 390px;
    top: calc(50% - 195px);
    left: calc(50% - 150px);
}
input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}
.body-popup > div{
    margin-bottom: 20px;
}

/*Le plateau*/
#plateau{
    width: 410px;
    height: 410px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}
/*Les cases du plateau*/
.cell{
    background-color: #afedfe;
    color: black;
    /*Chaque case fais 136px ce qui correspond a 400px soit la largeur du plateau divisé par 3 c'est le nombre de cases*/
    width: 136.666px;
    /*Pour que les croix et ronds s'affiche au centre*/
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*fin*/
    font-size: 90px;
    border: 4px solid #162a40;
}
.justify-center{
    justify-content: center;
}
.pseudo {
    font-weight: bold;
    font-size: 25px;
}
.time {
    background: #379f37;
    padding: 12px;
    margin-top: 12px;
    width: fit-content;
}
.avatar{
    background-color: white;
    border-radius: 50%;
}
.avatar img{
    border-radius: 50%;
    width: 72px;
    height: 72px;
}
#game-opponent {
    margin-top: 40px;
    margin-bottom: 60px;
}